/*GENERAL ZONE*/
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}
/*HEAD ZONE*/
.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
    
}

ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
/*MAIN SECTION*/
.hero{
    height: 300px;
    /* background-image: url(../img/pepe.jpg); */
    background-color: #1b2127;
    /* background-size: 400px 400px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-image{
    object-fit: cover; /*Con esta declaración mí imagen podrá caber dentro del div*/
}

h1{
    line-height: 150%;
    font-size: 40px;
    letter-spacing: -.2px;
    color: white;
    margin: 0px;
    align-items: center;

}

h1 strong{
    color: #026fff;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

/*PORTFOLIO SECTION*/
.portfolio{
        background: #FAFAFA;
        padding: 20px;
}
.project{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-course, .project-date, .project-url{
    margin: 10px 0; 
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.project-description{
    font-size: 20px;
    font-weight: 600;
}

/* .project-date{
    margin: 10px 0;
} */

.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
}

/*ACHIEVEMENTS SECTION*/
.experience-list-title{
    margin-left: 20px;
}

.experience-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experience{
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.experience img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.experience-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.experience-description{
    text-align: left;
}
.experience-url{
    color: #026fff;
    border: 1px solid ;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}
/*CONTACT SECTION*/

.contact{
    background-color: #026fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{
    
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter{
    background-image: url(../img/twitter.png);
}
.social-link.facebook{
    background-image: url(../img/facebook.png);
}
.social-link.github{
    background-image: url(../img/github.png);
}
.social-link.instagram{
    background-image: url(../img/instagram.png);
}

.form-email input{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url(../img/envelope.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100px;
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}

/*FOOTER SECTION*/
.footer{
    color: white;
    background: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}

/*DIVS*/

.container{
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}